# Dependencies
node_modules/
.venv/
.node/

# Build and Caches
dist/
dist-ssr/
.next/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# SQLite Temporary Files
*.db-journal
*.db-wal
*.db-shm

# System and Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs/
*.log
